<div class="search-container">
    <h2 class="left-heading">Search</h2>
    <form (ngSubmit)="onSearch()" class="styled-form">
      <!-- Name Field -->
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="searchCriteria.name"
          name="name"
          placeholder="Enter Name"
        />
      </div>
  
      <!-- Classification Field -->
      <div class="form-group">
        <select [(ngModel)]="searchCriteria.classification" name="classification">
          <option value="" disabled selected>Select Classification</option>
          <option *ngFor="let option of classificationOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
  
      <!-- Address Field -->
      <div class="form-group">
        <input
          type="text"
          [(ngModel)]="searchCriteria.address"
          name="address"
          placeholder="Enter Address"
        />
      </div>
  
      <!-- Excluding Agency Field -->
      <div class="form-group">
        <select [(ngModel)]="searchCriteria.excludingAgency" name="excludingAgency">
          <option value="" disabled selected>Select Excluding Agency</option>
          <option *ngFor="let option of agencyOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
  
      <!-- Search Button -->
      <div class="button-row">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <!-- Primary Data Tab -->
    <mat-tab label="Primary Data">
      <div class="table-container">
        <table mat-table [dataSource]="primaryDataSource" class="data-table">
          <!-- Classification Column -->
          <ng-container matColumnDef="classification">
            <th mat-header-cell *matHeaderCellDef> Classification </th>
            <td mat-cell *matCellDef="let element"> {{ element.classification }} </td>
          </ng-container>
  
          <!-- Full Name Column -->
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Full Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.fullName }} </td>
          </ng-container>
  
          <!-- Alias Column -->
          <ng-container matColumnDef="alias">
            <th mat-header-cell *matHeaderCellDef> Alias </th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let alias of element.alias.split(',')">
                <a
                  href="javascript:void(0)"
                  (click)="onAliasClick(alias.trim())"
                  style="color: blue; text-decoration: underline; display: block; margin-bottom: 8px;"
                >
                  {{ alias.trim() }}
                </a>
              </div>
            </td>
          </ng-container>                      
                                                  
          <!-- Full Address Column -->
          <ng-container matColumnDef="fullAddress">
            <th mat-header-cell *matHeaderCellDef> Full Address </th>
            <td mat-cell *matCellDef="let element"> {{ element.fullAddress }} </td>
          </ng-container>
  
          <!-- Entity Type Column -->
          <ng-container matColumnDef="entityType">
            <th mat-header-cell *matHeaderCellDef> Entity Type </th>
            <td mat-cell *matCellDef="let element"> {{ element.entityType }} </td>
          </ng-container>
  
          <!-- Excluding Agency Column -->
          <ng-container matColumnDef="excludingAgency">
            <th mat-header-cell *matHeaderCellDef> Excluding Agency </th>
            <td mat-cell *matCellDef="let element"> {{ element.excludingAgency }} </td>
          </ng-container>
  
          <!-- Additional Comments Column -->
          <ng-container matColumnDef="additionalComments">
            <th mat-header-cell *matHeaderCellDef> Additional Comments </th>
            <td mat-cell *matCellDef="let element"> {{ element.additionalComments }} </td>
          </ng-container>
  
          <!-- Active Date Column -->
          <ng-container matColumnDef="activeDate">
            <th mat-header-cell *matHeaderCellDef> Active Date </th>
            <td mat-cell *matCellDef="let element"> {{ element.activeDate }} </td>
          </ng-container>
  
          <!-- Termination Date Column -->
          <ng-container matColumnDef="terminationDate">
            <th mat-header-cell *matHeaderCellDef> Termination Date </th>
            <td mat-cell *matCellDef="let element"> {{ element.terminationDate }} </td>
          </ng-container>
  
          <!-- Exclusion Type Column -->
          <ng-container matColumnDef="exclusionType">
            <th mat-header-cell *matHeaderCellDef> Exclusion Type </th>
            <td mat-cell *matCellDef="let element"> {{ element.exclusionType }} </td>
          </ng-container>
  
          <!-- Unique Entity ID Column -->
          <ng-container matColumnDef="uniqueEntityId">
            <th mat-header-cell *matHeaderCellDef> Unique Entity ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.uniqueEntityId }} </td>
          </ng-container>
  
          <!-- SAM Number Column -->
          <ng-container matColumnDef="samNumber">
            <th mat-header-cell *matHeaderCellDef> SAM Number </th>
            <td mat-cell *matCellDef="let element"> {{ element.samNumber }} </td>
          </ng-container>
  
          <!-- CAGE Column -->
          <ng-container matColumnDef="cage">
            <th mat-header-cell *matHeaderCellDef> CAGE </th>
            <td mat-cell *matCellDef="let element"> {{ element.cage }} </td>
          </ng-container>
  
          <!-- Exclusion Program Column -->
          <ng-container matColumnDef="exclusionProgram">
            <th mat-header-cell *matHeaderCellDef> Exclusion Program </th>
            <td mat-cell *matCellDef="let element"> {{ element.exclusionProgram }} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <!-- Pagination -->
        <mat-paginator
          #primaryPaginator
          [pageSize]="10"
          [pageSizeOptions]="[10, 20, 50]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>
  
    <!-- Secondary Data Tab -->
    <mat-tab label="Secondary Data">
      <div class="table-container">
        <table mat-table [dataSource]="secondaryDataSource" class="data-table">
            <ng-container matColumnDef="classification">
                <th mat-header-cell *matHeaderCellDef> Classification </th>
                <td mat-cell *matCellDef="let element"> {{ element.classification }} </td>
              </ng-container>
      
              <!-- Full Name Column -->
              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.fullName }} </td>
              </ng-container>
      
              <!-- Alias Column -->
              <ng-container matColumnDef="alias">
                <th mat-header-cell *matHeaderCellDef> Alias </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngFor="let alias of element.alias.split(',')">
                    <a
                      href="javascript:void(0)"
                      (click)="onAliasClick(alias.trim())"
                      style="color: blue; text-decoration: underline; display: block; margin-bottom: 8px;"
                    >
                      {{ alias.trim() }}
                    </a>
                  </div>
                </td>
              </ng-container>                   
      
              <!-- Full Address Column -->
              <ng-container matColumnDef="fullAddress">
                <th mat-header-cell *matHeaderCellDef> Full Address </th>
                <td mat-cell *matCellDef="let element"> {{ element.fullAddress }} </td>
              </ng-container>
      
              <!-- Entity Type Column -->
              <ng-container matColumnDef="entityType">
                <th mat-header-cell *matHeaderCellDef> Entity Type </th>
                <td mat-cell *matCellDef="let element"> {{ element.entityType }} </td>
              </ng-container>
      
              <!-- Excluding Agency Column -->
              <ng-container matColumnDef="excludingAgency">
                <th mat-header-cell *matHeaderCellDef> Excluding Agency </th>
                <td mat-cell *matCellDef="let element"> {{ element.excludingAgency }} </td>
              </ng-container>
      
              <!-- Additional Comments Column -->
              <ng-container matColumnDef="additionalComments">
                <th mat-header-cell *matHeaderCellDef> Additional Comments </th>
                <td mat-cell *matCellDef="let element"> {{ element.additionalComments }} </td>
              </ng-container>
      
              <!-- Active Date Column -->
              <ng-container matColumnDef="activeDate">
                <th mat-header-cell *matHeaderCellDef> Active Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.activeDate }} </td>
              </ng-container>
      
              <!-- Termination Date Column -->
              <ng-container matColumnDef="terminationDate">
                <th mat-header-cell *matHeaderCellDef> Termination Date </th>
                <td mat-cell *matCellDef="let element"> {{ element.terminationDate }} </td>
              </ng-container>
      
              <!-- Exclusion Type Column -->
              <ng-container matColumnDef="exclusionType">
                <th mat-header-cell *matHeaderCellDef> Exclusion Type </th>
                <td mat-cell *matCellDef="let element"> {{ element.exclusionType }} </td>
              </ng-container>
      
              <!-- Unique Entity ID Column -->
              <ng-container matColumnDef="uniqueEntityId">
                <th mat-header-cell *matHeaderCellDef> Unique Entity ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.uniqueEntityId }} </td>
              </ng-container>
      
              <!-- SAM Number Column -->
              <ng-container matColumnDef="samNumber">
                <th mat-header-cell *matHeaderCellDef> SAM Number </th>
                <td mat-cell *matCellDef="let element"> {{ element.samNumber }} </td>
              </ng-container>
      
              <!-- CAGE Column -->
              <ng-container matColumnDef="cage">
                <th mat-header-cell *matHeaderCellDef> CAGE </th>
                <td mat-cell *matCellDef="let element"> {{ element.cage }} </td>
              </ng-container>
      
              <!-- Exclusion Program Column -->
              <ng-container matColumnDef="exclusionProgram">
                <th mat-header-cell *matHeaderCellDef> Exclusion Program </th>
                <td mat-cell *matCellDef="let element"> {{ element.exclusionProgram }} </td>
              </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
  
        <!-- Pagination -->
        <mat-paginator
          #secondaryPaginator
          [pageSize]="10"
          [pageSizeOptions]="[10, 20, 50]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
  